/* .search-field {
    margin-bottom: 16px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-row:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .searcher{
    width: 100%;
    border:none
  }
  mat-form-field{
    width:100%;
    color:teal;
    border-radius: 0px;
  } */