<router-outlet></router-outlet>
<mat-button-toggle-group class="div-group">
  <mat-button-toggle routerLink="/profile/user-profile">
    <mat-icon>person</mat-icon>
    <div>Profile</div>
  </mat-button-toggle>
  <mat-button-toggle routerLink="/profile/products">
    <mat-icon>shopping_cart</mat-icon>
    <div>Product or Services</div>
  </mat-button-toggle>
  <mat-button-toggle routerLink="/profile/customers">
    <mat-icon>people</mat-icon>
    <div>Manage Customers</div>
  </mat-button-toggle>
  <mat-button-toggle routerLink="/payments">
    <mat-icon>payment</mat-icon>
    <div>Payments</div>
  </mat-button-toggle>
</mat-button-toggle-group>
