<main>
    <h2>Dashboard</h2>
    <mat-tab-group class="tab-group">
      <mat-tab label="Daily">
        <div class="dashboard-container">
          <div class="chart-container">
            <app-chart></app-chart>
          </div>
          <div class="table-container">
            <app-table></app-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Daily">
        <div class="dashboard-container">
          <div class="chart-container">
            <app-chart></app-chart>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </main>
  