<main>
<div mat-div (click)="openBusinessNumberEdit()">
    <div class="icon"><mat-icon>call</mat-icon></div>
    <p>Business Phone Number: {{customer.phoneNumber}}</p>
    <div class="icon"><mat-icon>edit</mat-icon></div>
</div>
<div mat-div (click)="openLoginNumberEdit()">
    <div class="icon"><mat-icon>call</mat-icon></div>
    <p>Login Phone Number: {{customer.phoneNumber}}</p>
    <div class="icon"><mat-icon>edit</mat-icon></div>
</div>
<div mat-div (click)="openEditDialog()">
    <div class="icon"><mat-icon>key</mat-icon></div>
    <p style="margin-right:70px">Change Password</p>
    <div class="icon"><mat-icon>edit</mat-icon></div>
</div>
</main>